<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="EntityGateCoreConfigs" type="MetallicBlueDev.EntityGate.Configuration.EntityGateSectionHandler, MetallicBlueDev.EntityGate" />
  </configSections>

  <connectionStrings>
    <add name="SampleDbInstance" connectionString="DATABASE=MyDbName;SERVER=my-db-host;Integrated Security=False;USER ID=MyUserName;PASSWORD=MyPassword;" providerName="System.Data.SqlClient" />
    <add name="OtherDbInstance" connectionString="DATABASE=OtherDbName;SERVER=other-db-host;Integrated Security=False;USER ID=OtherUserName;PASSWORD=OtherPassword;" providerName="System.Data.SqlClient" />
    <add name="DbInstance1" connectionString="DATABASE=OtherDbName;SERVER=other-db-host;Integrated Security=False;USER ID=OtherUserName;PASSWORD=OtherPassword;" providerName="System.Data.SqlClient" />
    <add name="DbInstance2" connectionString="DATABASE=OtherDbName;SERVER=other-db-host;Integrated Security=False;USER ID=OtherUserName;PASSWORD=OtherPassword;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <EntityGateCoreConfigs>
    <EntityGateCoreConfig>
      <!--
        Name of the connection string to use.
        It must exist in the connectionStrings section.
      -->
      <ConnectionName>SampleDbInstance</ConnectionName>

      <!-- Optional: Maximum number of attempts after a failure. -->
      <MaximumNumberOfAttempts>5</MaximumNumberOfAttempts>

      <!-- Optional: Waiting time after a failure. -->
      <AttemptDelay>1000</AttemptDelay>

      <!-- Optional: Timeout. -->
      <Timeout>30</Timeout>

      <!-- Optional: EF LazyLoading. -->
      <LazyLoading>False</LazyLoading>

      <!-- Optional: Determines if the backup of the original values is performed automatically. -->
      <AutomaticCheckOfOriginalValues>False</AutomaticCheckOfOriginalValues>
      
      <!-- Full type name for extending context options. -->
      <ContextOptionsExtension>Microsoft.EntityFrameworkCore.SqlServer.Infrastructure.Internal.SqlServerOptionsExtension</ContextOptionsExtension>
    </EntityGateCoreConfig>

    <!-- Additional example. -->
    <EntityGateCoreConfig>
      <!-- Minimum configuration -->
      <ConnectionName>DbInstance2</ConnectionName>
      <ContextOptionsExtension>Microsoft.EntityFrameworkCore.SqlServer.Infrastructure.Internal.SqlServerOptionsExtension</ContextOptionsExtension>
    </EntityGateCoreConfig>
    <!-- In-line (attribute style). -->
    <EntityGateCoreConfig 
      ConnectionName="OtherDbInstance"
      MaximumNumberOfAttempts="3"
      AttemptDelay="900"
      Timeout="40"/>
    <EntityGateCoreConfig ConnectionName="DbInstance1" LazyLoading="False" />
    <EntityGateCoreConfig ConnectionName="DbInstance2" Timeout="1000" AutomaticCheckOfOriginalValues="False" />
  </EntityGateCoreConfigs>
  
</configuration>